main div, main form
{
    width: 90%;
    padding: 20px;
    display: flex;
}

.descipcionPlatillo
{
    background-color: var(--color-Gris);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.644);
}
.descipcionPlatillo img
{
    width: 150px;
    border-radius: 20px;
    border: 3px solid var(--color-Azul);
}
.descipcionPlatillo p
{
    padding: 10px;
    font-size: 23px;
}

.descripcion
{
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.con-comentarios
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comentarios, .formularioComentario, .avisoInvitado
{
    margin: 20px 0;
    background-color: var(--color-Gris);
    border-radius: 20px;
    border: 5px solid var(--color-Azul);

    flex-direction: column;
}
.datoUsuario
{
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comentario
{
    width: 100%;
    height: 100px;
    background-color: var(--color-Blanco);
    padding: 10px;
    border-radius: 20px;
    
    overflow-y: auto;
    overflow-x: hidden;
}

.formularioComentario
{
    align-items: center;
}
.formularioComentario h3
{
    display: flex;
    align-items: center;
}
.formularioComentario input
{
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
}
.formularioComentario .comentario
{
    padding: 0;
}
.formularioComentario textarea
{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
.formularioComentario button 
{
    width: 40%;
    font-size: 20px;
    padding: 8px;
    margin-top: 10px;
    background-color: var(--color-Azul);
    color: var(--color-Blanco);
    border-radius: 20px;
    border: none;
    cursor: pointer;

}
.formularioComentario button:hover 
{
    background-color: var(--color-Negro);
}

main a
{
    color: var(--color-Negro);
}
main a:hover
{
    margin: 20px 0;
    background-color: var(--color-Azul);
    border-radius: 20px;
    border: 5px solid var(--color-Azul);
    color: var(--color-Blanco);
    flex-direction: column;
}