.tarjetas
{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

main a
{
    transition: none;
    color: var(--color-Negro);
}
main a:hover
{
    background-color: var(--color-Gris);
    color: var(--color-Negro);
    border-radius: 0;
}
.tarjeta
{
    width: 350px;
    height: 400px;
    background-color: var(--color-Gris);
    margin: 20px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.tarjeta h2
{
    height: auto;
    padding: 20px;
    font-size: 25px;
    color: var(--color-Negro);
    display: flex;
    align-items: center;
}
.tarjeta img
{
    width: 250px;
    border-radius: 20px;
}
.tarjeta:hover
{
    position: relative;
    width: 360px;
    height: 410px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.644);
}
