main
{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--color-Gris);
    background-image: url(../svg/LogoSinFondo.svg);
    background-size: 150px;
}
main img
{
    max-width: 500px;
    height: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.644);
}

.Con-informacion
{
    width: 50%;
}

.informacion 
{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--color-Gris);
    border: 5px solid var(--color-Azul);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.644);
}
.informacion h3
{
    margin-bottom: 10px;
}
.informacion p
{
    padding: 20px;
    background-color: var(--color-Blanco);
    border-radius: 20px;
}